:root {
  --validserverstatuscolor: #1a9c00;
  --invalidserverstatuscolor: #c70000;
  --unknownserverstatuscolor: #9b9b9b;
}

#mc-server-config-placeholder {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  gap: 20px;
  border: 1px solid #dddddd;
  padding-block: 25px;
}

#status-title {
  margin: auto;
}

.mc-server-status-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.mc-server-placeholder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: 10px;
}

.mc-server-status {
  color: var(--unknownserverstatuscolor);
}

.server-stat-card > h3 {
  font-size: 16px;
}

.server-stat-card {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  gap: 4px;
  position: relative;
}

#refreshBtn {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #0f0f0f;
  width: max-content;
  padding-inline: 20px;
  padding-block: 10px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  transition: 250ms linear;
  cursor: pointer;
  margin: auto;
  gap: 6px;
}

#refreshBtn .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
  color: #dadada;
}

#refreshBtn a {
  text-decoration: none;
  color: #dadada;
}

#refreshBtn:hover {
  background-color: #dadada;
}

#refreshBtn:hover a {
  color: #1a1a1a;
}

#refreshBtn:hover .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
  color: #1a1a1a;
}

.loading-display-card {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #202020f1;
  border-radius: 10px;
}
