:root {
  --bckg: #080808;
  --txtcolor: #dadada;
  --placeholder: #222222;
  --body-font-size: 18px;
  --btn-color: #111111;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: "Poppins", "Times New Roman";
  color: var(--txtcolor);
  background-color: var(--bckg);
  font-size: var(--body-font-size);
  box-sizing: border-box;
  width: 100%;
}

.nav {
  display: flex;
  height: fit-content;
}

h1 {
  font-size: 30px;
}

.title {
  margin: 0 auto;
  background-color: var(--placeholder);
  text-align: center;
  padding: 8px 20px;
  height: fit-content;
  width: 100%;
  font-weight: 500;
  margin-top: 20px;
}

.text-inside {
  margin-top: 40px;
}

.text-inside p {
  text-align: center;
}

#librecover {
  display: block;
  width: min(250px, 100%);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 80px auto;
  border-radius: 14px;
  transition: transform 0.3s;
  cursor: pointer;
}

#librecover:hover {
  transform: scale(1.1);
}

footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.icons-interactable {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.icons-interactable div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

/* .icons-interactable a {
  display: flex;
  align-items: center;
  min-height: 40px;
  gap: 10px;
  text-decoration: none;
  color: var(--txtcolor);
} */

.placeholder {
  display: flex;
  flex-direction: column;
  background-color: var(--placeholder);
  width: max-content;
  max-width: 80%;
  height: max-content;
  padding-block: 16px;
  padding-inline: 18px;
  border-radius: 8px;
  margin: 20px;
}

.placeholder.centered {
  margin-inline: auto;
}

.centered {
  margin: auto;
}

.btn {
  display: flex;
  align-items: center;
  min-height: 40px;
  gap: 10px;
  padding: 6px 16px;
  text-decoration: none;
  color: var(--txtcolor);
  border: 1px solid rgb(20, 20, 20);
  background-color: var(--btn-color);
  border-radius: 14px;
  transition:
    0.2s border ease-in-out,
    0.2s transform ease-in-out;
  font-size: 16px;
}

.btn:hover {
  border: 1px solid #ffffff;
  transform: translateY(-5px);
}

#navtoappbtn {
  margin-block: 20px;
  width: fit-content;
  height: 30px;
  display: flex;
}
