:root {
  --bckg: #080808;
  --txtcolor: #dadada;
  --placeholder: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: "Poppins", "Times New Roman";
  color: var(--txtcolor);
  background-color: var(--bckg);
  box-sizing: border-box;
  width: 100%;
}

.nav {
  display: flex;
  height: fit-content;
}

h1 {
  font-size: 30px;
}

.title {
  margin: 0 auto;
  background-color: var(--placeholder);
  text-align: center;
  padding: 8px 20px;
  height: fit-content;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 20px;
}

.text-inside {
  margin-top: 40px;
}

.text-inside p {
  text-align: center;
}

#librecover {
  display: block;
  width: min(250px, 100%);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 80px auto;
  border-radius: 14px;
  transition: transform 0.3s;
}

#librecover:hover {
  transform: scale(1.1);
}

footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.icons-interactable {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons-interactable div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.icons-interactable a {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  height: 40px;
  gap: 10px;
  text-decoration: none;
  color: var(--txtcolor);
}

.placeholder {
  display: flex;
  flex-direction: column;
  background-color: var(--placeholder);
  width: max-content;
  max-width: 80%;
  height: max-content;
  padding-block: 16px;
  padding-inline: 18px;
  border-radius: 8px;
  margin: 20px;
}

.placeholder.centered {
  margin-inline: auto;
}

#btn {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 14px;
  transition: 0.2s border;
}

#btn:hover {
  border: 1px solid #ffffff;
}
